---
layout: default
---


<div class="main-content">
    <section class="bg-pgreen" id="habilidades">
        <h2 class="heading">Skills</h2>

        <div class="row">
            <div class="col-md-4">
                <div>
                    <span>Java</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 80%"></div>
                    </div>
                </div>
                <div>
                    <span>C/C++</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 70%"></div>
                    </div>
                </div>
                <div>
                    <span>PHP</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 40%"></div>
                    </div>
                </div>
                <div>
                    <span>MySQL</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 80%"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <span>JavaScript</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 70%"></div>
                    </div>
                </div>
                <div>
                    <span>CSS</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 60%"></div>
                    </div>
                </div>
                <div>
                    <span>HTML</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 80%"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <span>Vue</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 40%"></div>
                    </div>
                </div>
                <div>
                    <span>Spring</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:30%"></div>
                    </div>
                </div>
                <div>
                    <span>Oracle</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:35%"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-pblue" id="experiencia">
        <h2 class="heading">Experience</h2>
        <div class="timeline">
            <div class="timeline-item clearfix">
                <div class="timeline-icon"></div>

                <div class="timeline-content right">
                    <span class="date">2018-current</span>
                    <h6 class="h3 my-2">SIGA - UFPR</h6>
                    <p>Web development; MySQL database and JAVA, Javascript and Vue.js programming. </p>
                </div>
            </div>
            <div class="timeline-item clearfix">
                <div class="timeline-icon"></div>

                <div class="timeline-content">
                    <span class="date">2017-2018</span>
                    <h6 class="h3 my-2">NC - UFPR</h6>
                    <p>Web development; ORACLE database and PHP, JAVA, Spring and Javascript programming. </p>
                </div>
            </div>
            <div class="timeline-item clearfix">
                <div class="timeline-icon"></div>

                <div class="timeline-content right">
                    <span class="date">2017-2017</span>
                    <h6 class="h3 my-2">Langowski</h6>
                    <p>Junior Programmer: Web development; MySQL database and PHP, Javascript and Vue.js programming. </p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-pred" id="educacao">
      <h2 class="heading">Education</h2>
      <div class="timeline">
        <div class="timeline-item clearfix">
            <div class="timeline-icon"></div>

            <div class="timeline-content">
                <span class="date">2023-Curent</span>
                <h6 class="h3 my-2">Specialization in Agile Software Development - UFPR</h6>
            </div>
        </div>
        <div class="timeline-item clearfix">
            <div class="timeline-icon"></div>

            <div class="timeline-content right">
                <span class="date">2018-2020</span>
                <h6 class="h3 my-2">Master degree in Informatics - UFPR</h6>
                <p>Research areas: Algorithms; Graphs; Probability Theory. </p>
            </div>
        </div>
        <div class="timeline-item clearfix">
            <div class="timeline-icon"></div>

            <div class="timeline-content">
                <span class="date">2015-2017</span>
                <h6 class="h3 my-2">Degree in Systems Analysis and Development - UFPR</h6>
                <p>ARTEMIS: ARTICLE ANALYSIS SOFTWARE (registered software). </p>
            </div>
        </div>
        <div class="timeline-item clearfix">
            <div class="timeline-icon"></div>

            <div class="timeline-content right">
                <span class="date">2017-2017</span>
                <h6 class="h3 my-2">C++ - Object Oriented Development (35h) - Fundação Bradesco</h6>
                <p></p>
            </div>
        </div>
        <div class="timeline-item clearfix">
            <div class="timeline-icon"></div>

            <div class="timeline-content">
                <span class="date">2016-2016</span>
                <h6 class="h3 my-2">C++ Course - Intermediate (30h) - Udemy</h6>
                <p></p>
            </div>
        </div>
    </div>
    </section>
</div>

<div style="z-index: 4; position: relative; " id="projetos">
    <section class="bg-pbeige">
        <h2 class="heading">Projects</h2>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12 mb-3">
                <div class="card p-4">
                    <a class="mb-3" href="https://github.com/Juniorrek/TCC">
                        <div class="featuredImage rounded" style="background-size:cover;background-image: url('{{ '/assets/images/artemisLogo.png' | relative_url }}'); height: 180px;background-color:#fbfbfb;">   
                        </div>
                    </a>
                    <a href="https://github.com/Juniorrek/TCC"><h3 class="h4 font-weight-bold text-dark">Artemis</h3></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mb-3 bs">
                <div class="card p-4 bs">
                    <a class="mb-3 bs" href="https://juniorrek.github.io/graphus2000.html">
                        <div class="featuredImage rounded bs" style="background-size:contain;background-position:center;background-image: url('{{ '/assets/images/graphwLogo.png' | relative_url }}'); height: 180px;background-color:#fbfbfb;">   
                        </div>
                    </a>
                    <a href="https://juniorrek.github.io/graphus2000.html"><h3 class="h4 font-weight-bold text-dark">Graphw 2000</h3></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mb-3">
                <div class="card p-4">
                    <a class="mb-3" href="https://github.com/Juniorrek/Jerry-kijoji">
                        <div class="featuredImage rounded bs" style="background-size:cover;background-position:top;background-image: url('{{ '/assets/images/jerryKijoji.png' | relative_url }}'); height: 180px;background-color:#fbfbfb;">   
                        </div>
                    </a>
                    <a href="https://github.com/Juniorrek/Jerry-kijoji"><h3 class="h4 font-weight-bold text-dark">Jerry Kijoji</h3></a>
                </div>
            </div>
        </div>
        <div class="text-center mt-5 bs">
            <a href="https://github.com/Juniorrek?tab=repositories" class="btn btn-lg btn-dark-faded bs">See more</a>
        </div>
    </section>
</div>

<div class="main-content bs active" id="contato">
    <section id="contact" class="bg-light d-flex align-items-center" style="height: 100vh;">
        <div class="container bs">
            <h2 class="heading mb-3">Contact</h2>

            <!--<div class="text-success my-3 bs">
                I'm available for work
            </div>-->

            <form action="https://formspree.io/xjnyryqx" method="post">
                <div class="form-row bs">
                    <div class="col-12 col-xl-6 col-lg-6 col-md-6 bs">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Name">
                    </div>
                    <div class="col-12 col-xl-6 col-lg-6 col-md-6 bs">
                        <label>Email</label>
                        <input type="email" class="form-control" name="_replyto" placeholder="Email">
                    </div>
                </div>

                <div class="form-group bs">
                    <label>Message</label>
                    <textarea placeholder="Message" name="message" class="form-control" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
    </section>      
</div>
